header {
  background: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
}
.row {
  margin-bottom: 30px;
}
.vertical-flip {
  display: block;
  width: 100%;
  min-height: 280px;
  position: relative;
  z-index: 0;
  text-align: center;
  perspective: 1000px;
}
.vertical-flip .front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
  top: 0px;
  left: 0px;
  padding: 15px;
  background: #14bcc8;
  z-index: 10;
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserved-card;
  -webkit-transform-style: preserved-card;
  -moz-transform-style: preserved-card;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}
.vertical-flip .back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
  top: 0px;
  left: 0px;
  background: #ff7e70;
  z-index: 20;
  transform-style: preserved-card;
  -webkit-transform-style: preserved-card;
  -moz-transform-style: preserved-card;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}
.vertical-flip.flip-left .back {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}
.vertical-flip.flip-right .back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.vertical-flip.flip-left.flip .front {
  transform: rotateY(180deg) scale(1.1);
  -webkit-transform: rotateY(180deg) scale(1.1);
  -moz-transform: rotateY(180deg) scale(1.1);
}
.vertical-flip.flip-left.flip .back {
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}
.vertical-flip.flip-right.flip .front {
  transform: rotateY(-180deg) scale(1.1);
  -webkit-transform: rotateY(-180deg) scale(1.1);
  -moz-transform: rotateY(-180deg) scale(1.1);
}
.vertical-flip.flip-right.flip .back {
  transform: rotateX(-360deg) rotateY(-360deg);
  -webkit-transform: rotateX(-360deg) rotateY(-360deg);
  -moz-transform: rotateX(-0deg) rotateY(-0deg);
}
.vertical-flip .front .content,
.vertical-flip .back .content {
  width: 100%;
  height: auto;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 0px;
}
.vertical-flip .front .content .title,
.vertical-flip .back .content .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}
.vertical-flip .front .content i {
  font-size: 36px;
}

/* Horizontal Flip */
.horizontal-flip {
  display: block;
  width: 100%;
  min-height: 280px;
  position: relative;
  z-index: 0;
  text-align: center;
  perspective: 1000px;
}
.horizontal-flip .front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
  top: 0px;
  left: 0px;
  padding: 15px;
  background: #14bcc8;
  z-index: 10;
  transform-style: preserved-card;
  -webkit-transform-style: preserved-card;
  -moz-transform-style: preserved-card;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}
.horizontal-flip.flip-bottom .front {
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}
.horizontal-flip.flip-top .front {
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}
.horizontal-flip .back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
  top: 0px;
  left: 0px;
  background: #ff7e70;
  z-index: 20;
  transform-style: preserved-card;
  -webkit-transform-style: preserved-card;
  -moz-transform-style: preserved-card;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}
.horizontal-flip.flip-bottom .back {
  transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
}
.horizontal-flip.flip-top .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
}

.horizontal-flip.flip-bottom.flip .front {
  transform: rotateX(180deg) scale(1.1);
  -webkit-transform: rotateX(180deg) scale(1.1);
  -moz-transform: rotateX(180deg) scale(1.1);
}
.horizontal-flip.flip-bottom.flip .back {
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}
.horizontal-flip.flip-top.flip .front {
  transform: rotateX(-180deg) scale(1.1);
  -webkit-transform: rotateX(-180deg) scale(1.1);
  -moz-transform: rotateX(-180deg) scale(1.1);
}
.horizontal-flip.flip-top.flip .back {
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}
.horizontal-flip .front .content,
.horizontal-flip .back .content {
  width: 100%;
  height: auto;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 0px;
}
.horizontal-flip .front .content .title,
.horizontal-flip .back .content .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}
.horizontal-flip .front .content i {
  font-size: 36px;
}

/* Horizontal Flip Card */
.horizontal-flip-card {
  display: block;
  width: 100%;
  min-height: 280px;
  position: relative;
  z-index: 0;
  text-align: center;
}
.horizontal-flip-card .front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
  top: 0px;
  left: 0px;
  padding: 15px;
  background: #14bcc8;
  transform-origin: center center 0px;
  -webkit-transform-origin: center center 0px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}
.horizontal-flip-card.flip-bottom .front {
  z-index: 9;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.horizontal-flip-card.flip-top .front {
  z-index: 10;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.horizontal-flip-card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
  top: 0px;
  left: 0px;
  background: #ff7e70;
  transform-origin: center center 0px;
  -webkit-transform-origin: center center 0px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}
.horizontal-flip-card.flip-bottom .back {
  z-index: 7;
  transform: perspective(1000px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform: perspective(1000px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}
.horizontal-flip-card.flip-top .back {
  z-index: 9;
  transform: perspective(1000px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform: perspective(1000px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}
.horizontal-flip-card.flip-bottom.flip .front {
  z-index: 8;
  transform: perspective(1000px) rotateX(90deg) rotateY(0) rotateZ(0deg);
  -webkit-transform: perspective(1000px) rotateX(90deg) rotateY(0) rotateZ(0deg);
}
.horizontal-flip-card.flip-bottom.flip .back {
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0);
  -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0);;
}
.horizontal-flip-card.flip-top.flip .front {
  z-index: 99999;
  transform: perspective(1000px) rotateX(-90deg) rotateY(0) rotateZ(0deg);
  -webkit-transform: perspective(1000px) rotateX(-90deg) rotateY(0) rotateZ(0deg);
}
.horizontal-flip-card.flip-top.flip .back {
  z-index: 99999;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0);
  -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0);
}
.horizontal-flip-card .front .content,
.horizontal-flip-card .back .content {
  width: 100%;
  height: auto;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 0px;
}
.horizontal-flip-card .front .content .title,
.horizontal-flip-card .back .content .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}
.horizontal-flip-card .front .content i {
  font-size: 36px;
}